.landingPage {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: center;
  justify-content: center;
}
.aboutContent{
  max-width: 400px;
  border: none;
  background:#501599d0;
  border-radius: 20px;
  font-size: 20px;
  margin: 40px auto;
  box-shadow:2px 2px 3px #646464;
}
.landingPage p {
  padding: 0px 30px 0px 30px;
}
.landingPage a{
  color: #ffffff;
}
.landingPageButtonGroup{
  display: flex;
  margin: auto;
}

@media all and (max-width:500px) {
  .landingPageButtonGroup{
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
