.landingPage{
    color: #ffffff;
    text-align: center;
}

.landingPage p{
    padding: 0px 30px 0px 30px;
}

/* main{
    animation: pulse 10s infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0%;
    }
    50% {
      opacity:100%;
    }
    100% {
        opacity:0%;
    }
  } */