.slot {
  width: 50px;
  height: 50px;
  margin: 1px 2px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #fffbef93;
  background: #000000b7;
  outline-style: none;
}
.slot.disabled {
  cursor: not-allowed;
}

.image {
  height: 45px;
  width: 45px;
  padding-right: 5px;
}
.board {
  width: 450px;
  height: 450px;
}
.slot:hover {
  background: #ec7513d2;
}
.boardContainer {
  display: flex;
}
.slot.bg0 {
  border: 4px solid rgb(222, 222, 255);
  border-radius: 1em;
}
.slot.bg1 {
  border: 4px solid rgb(255, 122, 248);
  border-radius: 1em;
}
.slot.bg2 {
  border: 4px solid rgb(0, 60, 255);
  border-radius: 1em;
}
.slot.bg3 {
  border: 4px solid rgb(252, 106, 69);
  border-radius: 1em;
}
.slot.bg4 {
  border: 4px solid rgb(255, 213, 122);
  border-radius: 1em;
}
.slot.bg5 {
  border: 4px solid #a00000;
}
.slot.bg6 {
  border: 4px solid #40ab91;
}

.heat0 {
  background: #000000ff;
}
.heat1 {
  background: #000fff22;
}
.heat2 {
  background: #2200ee44;
}
.heat3 {
  background: #4400dd66;
}
.heat4 {
  background: #6600cc88;
}
.heat5 {
  background: #8800aaaa;
}
.heat6 {
  background: #aa0088bb;
}
.heat7 {
  background: #cc0066cc;
}
.heat8 {
  background: #dd0044dd;
}
.heat9 {
  background: #ee0022ee;
}
.heat10 {
  background: #ff0000ff;
}

div.board {
  background-color: #000000aa;
  padding-top: 1em;
}

@media all and (max-width: 700px) {
  .boardContainer {
    flex-direction: column;
  }
  .slot {
    width: 30px;
    height: 30px;
  }
  .board {
    width: 300px;
    height: 260px;
  }
  .image {
    width: 25px;
    height: 25px;
  }
}
