* {
    box-sizing: border-box;
  }
html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    height: 100%;
}

html {
    background:url(../../Images/2262.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}