html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html {
    /* background:url(../../Images/2262.jpg); */
    /* background:url(../../Images/35941.jpg); */
    /* background:url(../../Images/1873.jpg); */
    /* background:url(../../Images/2306971.png); */
    /* background:url(../../Images/2314572.png); */
    background:url(../../Images/2262.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}