main img{
    z-index: -100;
}


main img{
    animation: pulse 10s infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0%;
    }
    50% {
      opacity:100%;
    }
    100% {
        opacity:0%;
    }
  }