.playerContainer{
  display:flex;
}
.shipcontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin: 5px;
  width: 150px;
  height: inherit;
  color: #ffffff;
  /* border: 1px solid #49494993; */
  /* background: #1818184f; */
  
}
.ship{
  background: none;
  margin: 3px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  border-radius: 20px;
  height: 25px;
}
.shipContainerButtons{
  background:  rgb(0, 146, 83);
  margin: 3px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  width: 130px;
  height: 25px;
  border-radius: 20px;
}
.shipContainerButtons:hover{
  outline-style: none;
  background: rgba(0, 255, 145, 0.712);
}
.shipContainerButtons:focus{
  outline-style: none;
}
.ship:focus{
  outline-style: none;
  background:  rgb(66, 255, 173);
}
.buttonBorder{
  /* border: solid 1px #49494998; */
  margin: 2px;
  padding: 2px;
}
.shipContainerButtons:disabled{
  background:  rgb(7, 97, 58);
}


.cell {
  display: flex;  
  flex-wrap: wrap;
    height: 50px;
    min-width: 50px;
    background: rgba(0, 0, 0, 0.187);
    border: 1px solid  #fffbef93;
}
.cell:disabled {
  cursor: not-allowed;
}

.boardContainer{
  max-width: 450px;
  max-height: 450px;
}
 
  .slot.bg0 {
    background: rgba(222, 222, 255, 0.712);
  }
  .slot.bg1 {
    background: rgba(255, 122, 248, 0.712);
  } 
  .slot.bg2 {
    background: rgba(0, 60, 255, 0.712);
  }
  .slot.bg3 {
    background: rgba(252, 106, 69, 0.712);
  }
  .slot.bg4 {
    background: rgba(255, 213, 122, 0.712);
  }
  .slot.bg6 {
    background: rgba(0, 213, 122, 0.712);
  }
  .selected{
    background: #ff0000;
    border: 1px solid red
  }

  .active1 {
    background:  rgb(0, 143, 81);
  }
  
  
  @media all and (max-width:700px){
    .playerContainer{
      flex-direction: column;
    }
    .boardContainer{
      order: 2;
    }
    .shipcontainer{
      order: 1;

    }
}