.playerContainer{
  display:flex;
}
.shipcontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin: 5px;
  width: 150px;
  height: inherit;
  color: #ffffff;
  background: #501599ad;
  border-radius: 10px;
  
}
.ship{
  background: none;
  margin: 3px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  height: 25px;
  text-decoration: line-through;
}
.shipContainerButtons{
  background:  #48BE9F;
  margin: 3px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  width: 130px;
  height: 25px;
  border-radius: 10px;
  box-shadow:2px 2px 1px #646464;
}
.shipContainerButtons:hover{
  outline-style: none;
}
.shipContainerButtons:focus{
  outline-style: none;
}
.ship:focus{
  outline-style: none;
}
.active1 {
  text-decoration: none;
}
.buttonBorder{
  margin: 2px;
  padding: 2px;
}
.shipContainerButtons:disabled{
  background: #1F395A;
}
.shipContainerButtons:active{
  background: #52d4b2;
}


/* .cell {
  display: flex;  
  flex-wrap: wrap;
    height: 50px;
    min-width: 50px;
    background: rgba(0, 0, 0, 0.187);
    border: 1px solid  #fffbef93;
}
.cell:disabled {
  cursor: not-allowed;
} */

.boardContainer{
  max-width: 450px;
  max-height: 450px;
}



 
  
  
  @media all and (max-width:700px){
    .playerContainer{
      flex-direction: column;
    }
    .boardContainer{
      order: 2;
    }
    .shipcontainer{
      order: 1;

    }
}