.gamePage{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}
.gameBoard{
    text-align: center;
    align-content: center;
    justify-content: center;
}

.shipPlacement{
    height: 300px;
    width: 300px;
    border: 1px solid  #fffbef93;
}

p.wins{
    color: white;
}

@media all and (max-width:800px){
    .gamePage{
        flex-direction: column;
    }
    .gameBoard{
        flex-direction: column;
    }
}