.loginPage{
    text-align: center;
    padding: 80px;
    display: flex;
    justify-content: center;
}
.name,
.password {
  height: 30px;
  width:200px;
  margin: 5px;
  border: none;
  
}

.loginForm{
    min-width: 300px;
    height: 250px;
    margin: auto;
    background: rgb(174, 174, 174) url(./bw-space.jpg);
    background-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    padding:15px;
}
.inputsLabels{
    text-align: left;
    font-size: 23px;
}
.loginForm input{
    display:grid;
    width: 95%;
    height: 30px;
    margin-right: 2.5%;
    box-shadow:2px 2px 2px #bbbbbb;
}
.loginButtonContainer{
    text-align: right;
}
.loginButton{
    width: 97%;
    height: 30px;
    color: white;
    border: none;
    background: #2b2b2b;
    box-shadow:2px 2px 2px #bbbbbb;
    margin: 65px 2.5% 0 0;
}

@media screen and (min-width: 550px) {
    .loginForm{
        width: 40%;
    }
}