.loginPage{
    text-align: center;
    padding: 5%;
    display: flex;
    justify-content: center;
}
.name,
.password {
  height: 30px;
  width:200px;
  margin: 5px;
  border: none;
}

.loginForm{
    padding-top: 50px;
    min-width: 225px;
    max-width: 450px;
    height: fit-content;
    margin: auto;
    border: none;
}
.inputsLabels{
    text-align: left;
    font-size: 20px;
}
.loginForm input{
    display:flex;
    font-size: 25px;
    height: 30px;
    min-width: 225px;
    margin:40px 0 30px 0;
    border-radius: 30px;
    padding: 10px;
    box-shadow:2px 2px 3px #646464;
}
.loginForm input:focus{
    outline-style: none;
    background-color: rgb(200, 200, 200);
}
.loginButtonContainer{
    text-align: center;
}
.loginButton{
    font-size: 25px;
    padding: 10px;
    min-width: 125px;
    color: white;
    border: none;
    outline-style: none;
    margin:10px 10px 30px 10px;
    border-radius: 30px;
    background: #48BE9F;
    box-shadow:2px 2px 1px #646464;
}
.loginButton:active{
    background: #6de2d6;
}
 .loginForm{
    animation: pulse 1s;
  }
  .needToRegister a{
    color: #cacaca;
        text-decoration: none;
    }
    .needToRegister a:hover{
        color:#D1FAF6;
    }
  
  @keyframes pulse {
    0% {
      opacity: 0%;
    }
    100% {
        opacity:100%;
    }
  }
@media screen and (min-width: 550px) {

    .loginForm input{
        width:350px;
    }
    .loginButton{
        width:225px;
    }
}